;lip config
;v0.1.0

;comments start with semicolon
;option format - button:action or button=action

;actions provided by xdotool:
;key {KEY_NAME}
;click {MOUSE_BUTTON}
;mousemove {X Y}
;mousemove_retative {X Y}
;... and more (man xdotool)
;actions provided by lip:
;run {CMD}

[Settings]                              ;lip settings
socket: /var/run/lirc/lircd             ;default lircd socket location
remote: AsusDH                          ;lirc remote name (comment this line to accept commands from any remote)
use_default_keys: true                  ;use default bindings ([Default] section)

[Default]                               ;default bindings
KEY_PLAYPAUSE: key XF86AudioPlay
KEY_KPPLUS: key XF86AudioRaiseVolume
KEY_KPMINUS: key XF86AudioLowerVolume
REV: key XF86AudioPrev
KEY_FORWARD: key XF86AudioNext
KEY_MAX: key f
KEY_POWER: key Alt+F4

[mpv]                                   ;app section (section name is not used by lip at the moment)
window_name: .+ - mpv$                  ;app window name regexp
KEY_PLAYPAUSE: key space                ;any binding overrides [Default] value
KEY_KPPLUS: key 0
KEY_KPMINUS: key 9
REV: key Left
KEY_FORWARD: key Right

[Thunar]                                ;another app section
window_name: File Manager$
KEY_PLAYPAUSE: key Return
KEY_KPPLUS: key Up
KEY_KPMINUS: key Down
REV: key Left
KEY_FORWARD: key Right
KEY_MAX: key Alt+Up
