;lip config
;v0.0.4

;comments start with semicolon
;option format - button:action or button=action

;actions provided by xdotool:
;key {KEY_NAME}
;click {MOUSE_BUTTON}
;mousemove {X Y}
;mousemove_retative {X Y}
;... and more (man xdotool)
;actions provided by lip:
;run {CMD}

[Settings]                              ;lip settings
remote: AsusDH                          ;lirc remote name (comment this line to accept commands from any remote)
use_default_keys: 1                     ;use default bindings ([Default] section)

[Default]                               ;default bindings
KEY_VOLUMEUP: key Up
KEY_VOLUMEDOWN: key Down
KEY_PREVIOUS: key Left
KEY_NEXT: key Right
KEY_PLAYPAUSE: key Return
KEY_SCREEN: key Escape
KEY_1: click 1
KEY_2: click 2
KEY_3: click 3
KEY_4: run xfce4-appfinder
KEY_POWER: run xfce4-session-logout

[VLC]                                   ;app section (section name is not used by lip at the moment)
window_name: VLC media player$          ;app window name regexp
KEY_PLAYPAUSE: key space                ;any binding overrides [Default] value
KEY_NEXT: key n
KEY_PREVIOUS: key p
KEY_VOLUMEUP: key ctrl+Up
KEY_VOLUMEDOWN: key ctrl+Down
KEY_SCREEN: key f
KEY_1: key b
KEY_2: key v
KEY_3: key shift+s
KEY_POWER: key ctrl+q

[SMPlayer]                              ;another app section
window_name: SMPlayer$
KEY_PLAYPAUSE: key space
KEY_NEXT: key shift+period
KEY_PREVIOUS: key shift+comma
KEY_VOLUMEUP: key 0
KEY_VOLUMEDOWN: key 9
KEY_SCREEN: key f
KEY_3: key s
KEY_POWER: key ctrl+x
KEY_4: key o

[DeaDBeeF]
window_name: DeaDBeeF-[0-9.]+$
KEY_PLAYPAUSE: key ctrl+shift+alt+p
KEY_VOLUMEUP: key ctrl+shift+alt+q
KEY_VOLUMEDOWN: key ctrl+shift+alt+a
KEY_NEXT: key ctrl+shift+alt+m
KEY_PREVIOUS: key ctrl+shift+alt+n
